body {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

/* HEADER */

.main-header {}

.main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 237px;
}

.nav-logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 1;
    color: #173a56;
    display: flex;
    gap: 16px;
    align-items: center;
}

.nav-logo-img {}

.nav-list {
    display: flex;
    gap: 30px;
}

.nav-list-item {}

.nav-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
    display: block;
    padding: 26px 0;
}

.current {
    font-weight: 600;
}

.header-list-btn {
    display: flex;
    gap: 21px;
}

.header-item-btn {}

.header-btn {
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.sign-in {
    border: 1px solid #bcd0e5;
    width: 105px;
    height: 42px;
    color: #173a56;
    background-color: #fff;
}

.sign-up {
    width: 113px;
    height: 42px;
    background: #02897a;
    color: #fff;
}


/* SECTION 1 */

.container {}

.section-one-container {
    display: flex;
    align-items: center;
    gap: 35px;
    margin-bottom: 100px;
}

.section-one {
    display: flex;
    flex-direction: column;
}

.section-one-heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 18px;
}

.section-one-p {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55556;
    color: #22343d;
    margin-bottom: 45px;
}

.section-one-list {
    display: flex;
    gap: 30px;
}

.so-list-item {}

.section-one-btn {
    border-radius: 4px;
    width: 178px;
    height: 53px;
}

.get-started {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background: #02897a;
}

.watch-video {
    font-weight: 600;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #02897a;
    background-color: #fff;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hero-icon {
    border-radius: 2px;
    fill: #02897a;
}

/* SECTION TWO */

.container {}

.section-two-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.section-two-heading {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
    width: 539px;
}

.section-two-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.st-list-item {
    width: calc((100% - 90px) / 4);
}

.green {
    background-color: #02897a;
}

.blue {
    background-color: #4d8dff;
}

.violet {
    background-color: #740a76;
}

.red {
    background-color: #f03e3d;
}

.specifically-box {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 26px;
}

.specifically-icon {
    fill: #fff;
}

.section-two-btn {
    border-radius: 4px;
    width: 175px;
    height: 53px;
    background: #02897a;
}

.sign-up-now {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.st-item-heading {
    font-weight: 600;
    font-size: 22px;
    color: #22343d;
}

.st-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

/* SECTION THREE */

.container {}

.section-three-container {
    display: flex;
    gap: 84px;
    align-items: center;
    margin-bottom: 100px;
}

.section-three {
    display: flex;
    flex-direction: column;
}

.section-three-heading {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-three-span {
    font-weight: 600;
    font-size: 16px;
}

.section-three-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 30px;
}

.section-three-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-three-item {}

.list-heading-sthree {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
    margin-bottom: 12px;
}

.list-p-sthree {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #22343d;
}

.section-three-img {}

/* SECTION FOUR */

.container {}

.section-four-container {
    display: flex;
    gap: 84px;
    align-items: center;
    margin-bottom: 100px;
}

.section-four-img {}

.section-four {}

.section-four-heading {
    color: #22343d;
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;
}

.section-four-span {
    font-weight: 600;
    font-size: 16px;
}

.section-four-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 30px;
}

.section-four-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-four-item {
    display: flex;
    align-items: center;
    gap: 30px;
}

.sfour-icon-container {
    border: 2.92px solid #fff;
    border-radius: 14px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.sfour-icon {
    fill: #fff;
}

.orange {
    background-color: #f90;
}

.sf-red {
    background-color: #f03e3d;
}

.sf-blue {
    background-color: #4d8dff;
}

.list-p-sfour {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
}


/* SECTION FIVE */

.container {}

.section-five-container {
    display: flex;
    align-items: center;
    gap: 84px;
    margin-bottom: 150px;
}

.section-five {}

.section-five-heading {
    font-weight: 700;
    font-size: 32px;
    color: #22343d;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;
}

.section-five-span {
    font-weight: 600;
    font-size: 16px;
}

.section-five-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
    margin-bottom: 30px;
}

.section-five-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.section-five-item {}

.item-heading-sfive {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
    margin-bottom: 12px;
}

.item-p-sfive {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.62;
    color: #22343d;
}

.section-five-img {}

/* SECTION SIX */

.container {}

.section-six-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-six-heading {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.section-six {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-six-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 40px;
    width: 542px;
}

.section-six-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 100px;
    margin-bottom: 50px;
}

.sx-list-item {
    display: flex;
    gap: 20px;
    width: calc((100% - 100px) / 2);
    max-width: 420px;
    align-items: center;
}

.img-woman {}

.ssix-img-p {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    fill: #fff;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    width: 281px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-old-woman {}

.img-man {}

.img-old-man {}

.ssix-btn {
    background: #02897a;
    border-radius: 4px;
    width: 216px;
    height: 53px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

/* SECTION SEVEN */

.container {}

.section-seven-container {
    margin-bottom: 171px;
}

.section-seven-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.section-seven-p {
    width: 465px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    color: #22343d;
    margin-bottom: 40px;
}

.section-seven {}

.section-seven-list {
    display: flex;
    gap: 30px;
}

.section-seven-item {
    border: 1px solid #dedede;
    border-radius: 8px;
    background: #fff;
}

.s-seven-img {
    margin-bottom: 24px;
}

.sseven-list-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #22343d;
    margin-left: 24px;
    margin-bottom: 12px;
}

.sseven-span {
    font-weight: 700;
}

.sseven-list-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    color: #22343d;
    transition: color 350ms ease-out;
    margin-left: 27px;
    margin-bottom: 40px;
}

.sseven-list-header:hover {
    color: #02897a;
}

/* .motivation-green {
    color: #02897a;
} */

/* SECTION EIGHT */

.container {}

.section-eight-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-eight-header {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 10px;
}

.section-eight-p {
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    margin-bottom: 40px;
}

.section-eight-list {
    display: flex;
    gap: 72px;
}

.section-eight-item {
    /* text-align: center;
    width: calc((100% - 144px) / 3);
    padding: 32px 0;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    color: #22313d; */

    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.se-item-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.6;
    color: #22343d;
    margin-bottom: 8px;
}

.se-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
    font-family: "Montserrat", sans-serif;
}

.se-p-price {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 24px;
    color: #afafaf;
    position: relative;
}

.se-price {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
    padding-right: 10px;
}

.se-price-symbol {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0em;
    color: #02897a;
    position: absolute;
    top: 27px;
}

.se-list-options {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.se-item-option {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
    font-family: "Montserrat", sans-serif;
}

.se-list-btn {
    background-color: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    font-family: "Montserrat", sans-serif;
}

.item-second {
    background: #02897a;
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.se-item-header-second {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.66667;
    color: #fff;
}

.se-item-p-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #fff;
}

.se-p-price-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #e0e0e0;
    padding-bottom: 24px;
    position: relative;
}

.se-price-second {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    padding-right: 10px;
}

.se-price-symbol-second {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #fff;
    position: absolute;
    top: 27px;
}

.se-list-options {}

.se-item-option-second {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #fff;
}

.se-list-btn-second {
    font-weight: 600;
    font-size: 18px;
    color: #02897a;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background-color: #fff;
}


/* SECTION NINE */

.container {}

.section-nine-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.section-nine-header {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #22343d;
    margin-bottom: 10px;
}

.section-nine-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    text-align: center;
    color: #22343d;
    margin-bottom: 40px;
    width: 537px;
}

.section-nine-list {
    display: flex;
    gap: 64px;
    flex-wrap: wrap;
}

.section-nine-item {
    border: 1px solid #dedede;
    border-radius: 5px;
    height: 240px;
    width: calc((100% - 128px) / 3);
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 28px 26px;
}

.snine-icons-container {}

.snine-icon {
    fill: #f3cd03;
}

.sn-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;

}

.item-inform-container {
    display: flex;
    align-items: center;
    gap: 14px;
}

.sn-item-img {}

.inform-container-position {}

.sn-item-heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.sn-p-position {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
}

/* SECTION TEN */

.container {}

.section-ten-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 32px;
    width: 968px;
    background: #02897a;
    margin-bottom: 100px;
}

.section-ten {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    padding: 49px 10px 56px 51px;
}

.section-ten-p {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
}

.section-ten-btn {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background: #fff;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
}

.section-ten-img {}

/* FOOTER */

.container {}

.section-footer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.footer-logo-link {
    margin-right: 146px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93333;
    color: #173a56;
    display: flex;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 18px;
}

.logo-icon {}

.icon-footer-container {
    display: flex;
    gap: 16px;
}

.icon-footer {
    border-radius: 100%;
    background-color: #edfffc;
    width: 40px;
    height: 40px;
    position: relative;
}

.social-icon {
    stroke: #02897a;
    fill: none;
    top: 10px;
    left: 10px;
    position: absolute;
}


.fotter-first-list {
    margin-right: 129px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-list-heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
}

.footer-list {}

.footer-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.footer-second-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 131px;
}

.footer-undertext {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    color: #22343d;
    text-align: center;
}

.footer-form-container {}

.footer-form {
    margin-left: 83px;
}

.footer-form-p {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 30px;
    width: 280px;
}

.input-container-footer {
    position: relative;
    margin-bottom: 25px;
}

.input-icon-footer {
    fill: #02897a;
    position: absolute;
    top: 10px;
    left: 13px;
}

.footer-form-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    background: #fff;
    padding-left: 42px;
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.footer-form-btn {
    width: 131px;
    height: 39px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    background: #02897a;
    border-radius: 4px;

}



/*! CUSTOMERS PAGE */

.customers-header {
    margin-bottom: 100px;
}

.customers-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SECTION ONE - OUR CLIENTS */

.container {}

.customers-sone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 117px;
}

.cust-sone-heading {
    font-weight: 700;
    font-size: 40px;
    color: #22343d;
    margin-bottom: 50px;
}

.cust-sone-logo {
    display: flex;
    align-items: center;
    gap: 64px;
}

/* SECTION TWO - WHY CHOOSE PRODUCT? */

.section-two {
    background: #f5f5f5;
}

.container {}

.cust-stwo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.cust-stwo-heading {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    margin-top: 24px;
    margin-bottom: 50px;
}

.cust-stwo-list-container {
    margin-bottom: 68px;
}

.cust-stwo-list {
    display: flex;
    gap: 30px;
}

.stwo-list-item {
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 350px;
    height: 305px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 37px 34px 38px;
}

.stwo-item-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    color: #22343d;
    margin-bottom: 16px;
    width: 294px;
}

.stwo-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6875;
    letter-spacing: 0.01em;
    color: #22343d;
}

.specifically-box.cust {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

}

/* SECTION THREE - HOW PRODUCT WORK? */

.container {}

.cust-sthree-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 115px;
}

.cust-sthree-heading {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #22343d;
    margin-bottom: 73px;
}

.sthree-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 77px;
}

.sthree-container:not(:last-child) {
    gap: 100px;
}

.cust-sthree-step-container {
    display: flex;
    align-items: center;
    gap: 89px;
}

.cust-sthree-step-container.revert {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 76px;
}

.sthree-step-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 438px;
}

.sthre-item-heading {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343d;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

.cust-sthree-span {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: #22343d;
    margin-bottom: 16px;
}

.sthree-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.cust-sthree-btn {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

/* SECTION FOUR - JOIN THOUSAND OF OTHER WHO HAVE ALREADY RECEIVED OFFERS */

.section-four {
    background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.container {}

.cust-sfour-container {
    margin-bottom: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cust-sfour-heading {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-top: 35px;
    margin-bottom: 93px;
    width: 537px;
}

.cust-sfour-list-container {
    display: flex;
    gap: 227px;
}

.cust-sfour-list-one {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cust-sfour-img {
    margin-bottom: 27px;
}

.cust-sfour-list-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16667;
    color: #000;
    margin-bottom: 16px;
}

.cust-sfour-list {
    margin-bottom: 12px;
}

.cust-sfour-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.77;
    text-align: center;
    color: #22343d;
}

.cust-sfour-p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    color: #000;
}

/* CUST-FOOTER */

.cust-footer-form-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    background: #fff;
    padding-left: 42px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
    background;
}

/*! PRICING PAGE */

/* SECTION ONE - LET'S GET SOME REAL WORK DONE HERE */

.container {}

.prici-sone-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.prici-sone-heading {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.prici-sone-span {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-bottom: 32px;
}

.prici-sone-p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #22343d;
    margin-bottom: 50px;
}

.prici-se-item-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.prici-se-p-price {
    padding-bottom: 24px;
    color: #afafaf;
    position: relative;
}

.prici-se-price-symbol {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0em;
    color: #02897a;
    position: absolute;
    top: 27px;
    font-family: "Inter",
        sans-serif;
}

.prici-se-item-option {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
    font-family: "Inter", sans-serif;
}

.prici-se-item-p-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.prici-se-p-price-second {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #e0e0e0;
    padding-bottom: 24px;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.prici-se-price-symbol-second {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #fff;
    position: absolute;
    top: 27px;
    font-family: "Inter", sans-serif;
}

.prici-se-item-option-second {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #fff;
    font-family: "Inter", sans-serif;
}

/* SECTION TWO - ARE YOU INTERESTED IN A CUSTOM-TAILORED PLAN? */

.prici-section-two {
    background: linear-gradient(180deg, #f6f6f6 0%, rgba(246, 246, 246, 0) 100%);
}

.prici-stwo-container {
    margin-bottom: 294px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prici-stwo-heading {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prici-stwo-span {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
    margin-top: 53px;
    margin-bottom: 16px;
}

.prici-stwo-p {
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
    margin-bottom: 32px;
}

.prici-stwo-btn {
    border-radius: 8px;
    width: 224px;
    height: 44px;
    background: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}

/* SECTION THREE - PRODUCT IS BEING USED WITH GREAT EFFECTS ALONGSIDE */

.container {}

.prici-sthree {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prici-sthree-heading {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
}

.prici-three-container {
    display: flex;
    gap: 60px;
    align-items: center;
}

.prici-sthree-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.prici-sthree-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.prici-sthree-icon-h {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-bottom: 16px;
}

.prici-sthree-icon-box {
    border-radius: 100px;
    padding: 24px;
    width: 50px;
    height: 50px;
    background: #f4f5f7;
    position: relative;
}

.prici-sthree-icon {
    position: absolute;
    top: 14px;
    left: 14px;
}

.prici-sthree-list-h {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #22343d;
}

.prici-sthree-list-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

/* SECTION FOUR - FREQUENTLY ASKED QUESTION */

.container {}

.prici-sfour {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.prici-sfour-heading {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    margin-bottom: 8px;
}

.prici-sfour-p {
    font-weight: 400;
    font-size: 18px;
    color: #22343d;
    margin-bottom: 50px;
}

.prici-sfour-list {
    display: flex;
    flex-direction: column;
    max-width: 920px;
    gap: 16px;
}

.prici-sfour-item {
    width: 100%;
}

.prici-sfour-item::after {
    border: 1px solid #e7e7e7;
    width: 920px;
    height: 0px;
    content: "";
    display: block;
}

.prici-sfour-icon-box {
    display: flex;
    gap: 16px;
    padding-bottom: 22px;
}

.prici-sfour-icon {
    fill: #02897a;
}

.prici-sfour-item-h {
    font-weight: 500;
    font-size: 18px;
    color: #22343d;
}

.prici-sfour-item-p {
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    padding-bottom: 24px;
}